@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
    font-family: futurak;
    src: url('../assets/fonts/futurak.ttf');
  }

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Full-Version/Desktop\ Fonts/Butler_Regular');
}
@font-face{
    font-family: Apercu;
    src: url('../assets/fonts/Apercu/Apercu\ Pro\ Light.otf');
}

@font-face {
    font-family: butler;
    src: url('../assets/fonts/Butler/Butler_Regular.otf');
}
@font-face {
    font-family: inter;
    src: url('../assets/fonts/Inter/Inter-Regular.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NavBar started */

:root{
    --black: #000000;
    --red: #ed1c24;
    --white: #ffffff;
}

.logoImage{
    width:165px;
    cursor: pointer;
}

.navbar {
    display: flex;
    background-color: var(--black);
    justify-content: space-around;
    align-items: center;
    
  }

.navItems{
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    
    
}
.navItems a{
    text-decoration: none;
    color: white;
}

.franchise-btn{
    background-color: transparent;
    color: var(--white);
    padding: 15px 20px;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
}

.order-btn{
    background-color: var(--red);
    color: var(--white);
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.arrow-span{
    color: white;
}

.menubar{
    display: none;
}


/* Slider Image Started */
.banner img{
    width: 100%;
}

/* Slider Image Ended */


/* Main-under-slider started */
.Main-under-slider{
    
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 10px;
    
}

.weclome-description{

    font-family: Apercu;
    color: white;
    font-size: 40px;
}

.weclome-description span{
    font-family: futurak;
    font-size: 52px;
}
.Welcome-para{
    font-family: Apercu;
    color: rgba(255, 255, 255, 0.7) ;
    font-size: 16px;
}
.brand-part{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}
.brand{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.brand-img{
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 260px;
    height: 140px;
    
}
.brand-btn{
    background-color: transparent;
    color: #ffffffb3;
    border: 1px solid #ffffffb3;
    padding: 10px 50px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}



/* Main-under-slider ended */

/* Resturant Franchises FullScreen Started */
.main-franchise{
    background-color: rgb(23, 22, 22);
    padding:70px;   
}
.franchise-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0px 8px;
}
.Heading-frn{
    font-family: butler;
    font-size: 48px;
    color: white;
}
.para-frn{
    color: #ffffffb3 ;
    font-family: Apercu;
    margin: 0px 0px 48px;
}
.Heading-frn span{
    font-family: futurak;
    font-size: 52px;   
}
.Franchise1{
    display: flex;
    justify-content:space-evenly; 
}
.Franchise-L{
    height: 350px;
    width: 660px;
    color: white;
}
.Franchise-R{
    height: 350px;
    width: 660px;   
}
.Franchise-L small{
    font-family: Apercu;
    font-size: 16px;
    margin: 0px 0px 8px;
    color:#ed1c24;
}
#sub-title{
    font-family: Apercu;
    font-size: 32px;
    color: white;
    margin: 0px 0px 24px;
}
#sub-title span{
    font-family: 'futurak';
    font-style: normal;
    font-size: 32px;
    color: white;
}
.Franchise-L h3{
    font-family: Apercu;
    font-size: 32px;
}
.Franchise-L h3 span{
    font-family: futurak;
    font-size: 32px;
    color: white;
}
.Franchise-L p{
    font-family: Apercu;
    font-size: 16px;
    color: #ffffffb3;
    margin: 0px 0px 10px;
}
.Franchise-L button{
    font-family: Poppins;
    background-color: transparent;
    color: white;
    padding: 20px 20px 20px;
    margin: 20px 0px 0px;
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}
.Franchise2{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.Franchise3{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.Franchise-L2{
    padding: 0px 20px 0px;
}
/* Resturant Franchises Full screen Started */

/* Express Franchise Started */
.Express-franchise{
    background-color: rgb(0,0,0);
    padding: 0px 30px;
    flex-direction: column;
    justify-content: center;

}
.Express-franchise-head{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Express-1{
    color: white;
    width: 416px;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
}
/* .Express-1 img{
    
    height: 250px;
} */
#R-7Img{
    width: 350px;
    height: 250px;
}
.Express-1-detail{
    padding: 5px 5px;
    font-family: Apercu;
    font-size: 24px;
    text-align: center;
}
.Express-1-detail span{
    font-family: 'futurak';
    font-size: 24px;
}
#Etitle-1{
    margin: 0px 0px 18px;
}
#City-1{
    font-family: Apercu;
    font-size: 16px;
    margin: 0px 0px 8px;
    color:#ed1c24;
}
#add-1{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0px 0px 12px;
}
#ph-1{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0px 0px 12px;
}
.Express-1 button{
    font-family: Poppins;
    background-color: transparent;
    color: white;
    padding: 20px 20px 20px;
    margin: 15px 0px 0px;
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.Express-franchise-block-1{
    display: flex;
    justify-content: space-between;
}

/* Express Franchise Ended */

/* navbar Part */
/* Village Franchise Started  */

.Village-head{
     background-color: rgb(23, 22, 22);
     padding: 20px 30px;
}
.Village-title{
    display: flex;
    justify-content: center;
    text-align: center;
}
.village{
 display: flex;
 margin: 12px 0px;
 column-gap: 15px;
 align-items: center;   
}
.village-details{
    color: white;
    padding: 0 12px;
}.village-details p{
    font-family: Apercu;
    font-size: 16px;
    color: #ffffffb3;
    margin: 0px 0px 10px;
}
.village-details small{
    font-family: Apercu;
    font-size: 16px;
    margin: 0px 0px 8px;
    color:#ed1c24;
}

.village img{
    width: 600px;
    height: 350px;
}
.village-btn{
    font-family: Poppins;
    background: #28A745;
    color: white;
    padding: 20px 20px 20px;
    margin: 20px 0px 0px;
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.village-btn:hover{
    background-color: transparent;
}
/* Village Franchise Started  */
@media (max-width:700px){
    
    .navItems{
    display :none;
    }
    .menubar{
        display :block;
        
    }
    .menubar img{
        height: 20px;
        background-color: white;
    }
}

/* Navbar Ended */
/* About Page Started */

.about-page{
    background-color: black;
    color: #ffffffb3;
}
.All-about-Content{
    padding: 0px 60px;

}
/* Introduction Started */

.introduction{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 72px 0px;
    margin: 0px 0px 32px;
}
.introduction h2{
    font-family: butler;
    font-size: 42px;
    color: white;
    margin: 0px 0px 32px;

}
.introduction p{
    font-family: Apercu;
    font-size: 16px;
    margin: 0px 0px 15px;
}
/* Introduction Ended */

/* Resturant Started */
.resturant-main{
    text-align: center;
}
.resturant-title{
    text-align: center;
}
.resturant-title span{
    font-family:inter;
    font-size: 32px;
    color: #ffffff;
}
/* Resturant Ended */
/* About Page Ended */