@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
    font-family: futurak;
    src: url('../assets/fonts/futurak.ttf');
  }

@font-face{
    font-family: Apercu;
    src: url('../assets/fonts/Apercu/Apercu\ Pro\ Light.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NavBar started */

:root{
    --black: #000000;
    --red: #ed1c24;
    --white: #ffffff;
}

.logoImage{
    width:165px;

}

.navbar {
    display: flex;
    background-color: var(--black);
    justify-content: space-around;
    align-items: center;
  }

.navItems{
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
}

.franchise-btn{
    background-color: transparent;
    color: var(--white);
    padding: 15px 20px;
    border: 2px solid white;
    border-radius: 25px;
}

.order-btn{
    background-color: var(--red);
    color: var(--white);
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
}
.arrow-span{
    color: white;
}

.menubar{
    display: none;
}


/* Slider Image Started */
.banner img{
    width: 100%;
}

/* Slider Image Ended */


/* Main-under-slider started */
.Main-under-slider{
    
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 10px;
    
}

.weclome-description{

    font-family: Apercu;
    color: white;
    font-size: 40px;
}

.weclome-description span{
    font-family: futurak;
    font-size: 52px;
}
.Welcome-para{
    font-family: Apercu;
    color: rgba(255, 255, 255, 0.7) ;
    font-size: 16px;
}
.brand-part{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}
.brand{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.brand-img{
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 260px;
    height: 140px;
    
}
.brand-btn{
    background-color: transparent;
    color: #ffffffb3;
    border: 1px solid #ffffffb3;
    padding: 10px 50px;
    border-radius: 25px;
    font-size: 16px;
}



/* Main-under-slider ended */



/* navbar Part */
@media (max-width:700px){
    
    .navItems{
    display :none;
    }
    .menubar{
        display :block;
        
    }
    .menubar img{
        height: 20px;
        background-color: white;
    }
}

/* Navbar Ended */